.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12pt;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12pt;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg-usta img {
	height:16px
}

.tg-zv4m img {
	height:16px
}

.tg-v9lk img {
	width: 13px;
}

/* Style the tab */
.tab {
	width: 414px;
}

/* Style the tab content */
.chart-container {
	padding: 9px 9px;
	width: 396px;
}