.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:3.5vw;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:3.5vw;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

#header h1 {
	font-size:6vw;
}

.tg-usta img {
	width:4vw
}

.tg-zv4m img {
	width:4vw
}

.tg-v9lk img {
	width: 10%;
}

/* Style the tab */
.tab {
	width: 88vw;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size:3.5vw;
}

/* Style the tab content */
.chart-container {
	padding: 1vw 2vw;
	width:84vw;
}

form label {
	font-size:3.5vw;
}

form button {
	font-size:3.5vw;
}

form input {
	font-size:3.5vw;
}